server {
    listen 80 http2 ;
    listen [::]:80 http2 ;

    server_name _ ;
    gzip on;
    gzip_vary on;
    gzip_min_length 1024;
    gzip_proxied expired no-cache no-store private auth;
    gzip_types *;
    gzip_disable "MSIE [1-6]\.";

    sendfile     on;
    tcp_nopush   on;
    tcp_nodelay  on;
    autoindex    on;

    location / {
        root /usr/share/nginx/html/media;
    }

    location /static {
        root /usr/share/nginx/html/static;
    }

}